.splash{
  background-color: #fff;
  @include position(fixed, 0 0 0 0);
  width: 100vw;
  text-align: center;
  .splash-image{
    background:{
      image: url('_build/img/slice3.png');
      repeat: no-repeat;
    }
    height: 174px;
    width: 435px;
    position: relative;
    margin-top: calc(45vw - 174px*2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  a{
    color: #4a4a4a;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
  }
}
